.forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
  margin-left: 5px;
  font-size: 15px;
	color: white;
}

.forgotPassword:hover {
	text-decoration: none;
	font-weight: bold;
}

.authorize {	
	text-align: left;
	font-size: 15px;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #191919;
	max-width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.authorize h1{
	font-size: 1.8em;
	text-align: center;
	padding-bottom: 10px;
}

.authorize form{
	margin-left: 20px;
	margin-right: 20px;
}

.authorize .form-control {
	max-width: 300px;
}

.authorize .submit-button{
	// margin-left: 10px;
	// margin-right: -50%;
	display: flex;
  justify-content: center;


	
}
.social{
	//text-align: center;
	margin-bottom: 10px;
	text-align: center;
}

.social button{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}

.navigation {
	background: #232323;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation li{
	display: inline;
	margin-right: 20px;
	font-size: 25px;
	// padding-top: 5px;
	// padding-bottom: 5px;
	// padding-left: 10px;
	// padding-right: 10px;

}

.navigation a:link,
.navigation a:visited {
	color: white;
	text-decoration: none;
}

.active {
	font-weight: bold;
	color: #61DBFB !important;
}

.error {
	font-weight: bold;
	color: red !important;
}
