.post-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-list {
    overflow-y: scroll;
    background-color: none;
}

.post-new-button {
    position: fixed;
    bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF0000;
}

.post-post {
    background-color: #191919;
    max-width: 760px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    font-size: 16px;
}

.post-header {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-header-info {
    display: flex;
    flex-direction: row;
}

.post-header-options {
    display: flex;
    flex-direction: row;
}

.post-header-button {
    color: #999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
}

.post-user-icon {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    border-radius: 25px;
    overflow: hidden;
}

.post-header-text {
    margin-left: 15px;
    font-size: 17px;
}

.post-user-name {
    font-weight: 600;
    margin-bottom: 0px;
}

.post-header-date {
    margin-bottom: 0px;
}

.post-body {
    padding: 15px;
    margin-right: 0.5%;
}

.post-song {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.post-footer {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-menu-icon {
    font-size: 20px;
}

.post-button {
    color: #999;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    width: 45px;
}

.post-comments {
    margin-left: 5%;
    width: 80%;
}

.post-comments-add-button {
    margin-right: 5%;
}
