.social-icons {
  text-align: center;
  box-shadow: none;
  display: flex;
  justify-content: center;
}
.social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width: 40px;
  height: 40px;
  margin-right: 40px;
}
.input-file{
  
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.card {
  background-color:  #191919;
  max-width: 300px
}

.card-body p{
  font-size: 15px
}

.card-title {
  text-align: center;
}
.user-img {
  padding-top: 10px;
  display: flex;
}
.img-upload .btn:hover {
	background: linear-gradient(to left, #f77f00 50%, white 50%) right;
	background-size: 200%;
	transition: 0.5s ease-out;
	color: white;
}

.edit-profile{
  font-size: 15px;
  background-color: #191919;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control{
  font-size: 15px;
}

.edit-profile label{
  width: 300px;
}

.edit-button{
  color: white;
}

.card img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.info-tag{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  
}
.card p{
  text-align: center;
}

.edit-profile a{
  color: white;
}

.edit-profile .btn:hover {
	background: linear-gradient(to left, #f77f00 50%, white 50%) right;
	background-size: 200%;
	transition: 0.5s ease-out;
	color: white;
}
