.social-icons {
  text-align: center;
  box-shadow: none;
  display: flex;
  justify-content: center;
}
.social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width: 40px;
  height: 40px;
  margin-right: 40px;
}